#fs_customizer_upsell .fs-customizer-plan {
  padding: 10px 20px 20px 20px;
  border-radius: 3px;
  background: #fff
}

#fs_customizer_upsell .fs-customizer-plan h2 {
  position: relative;
  margin: 0;
  line-height: 2em;
  text-transform: uppercase
}

#fs_customizer_upsell .fs-customizer-plan h2 .button-link {
  top: -2px
}

#fs_customizer_upsell .fs-feature {
  position: relative
}

#fs_customizer_upsell .dashicons-yes {
  color: #0085ba;
  font-size: 2em;
  vertical-align: bottom;
  margin-left: -7px;
  margin-right: 10px
}

.rtl #fs_customizer_upsell .dashicons-yes {
  margin-left: 10px;
  margin-right: -7px
}

#fs_customizer_upsell .dashicons-editor-help {
  color: #bbb;
  cursor: help
}

#fs_customizer_upsell .dashicons-editor-help .fs-feature-desc {
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  background: #000;
  color: #fff;
  font-family: 'arial', serif;
  font-size: 12px;
  padding: 10px;
  z-index: 999999;
  bottom: 100%;
  margin-bottom: 5px;
  left: 0;
  right: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.3em;
  font-weight: bold;
  text-align: left
}

.rtl #fs_customizer_upsell .dashicons-editor-help .fs-feature-desc {
  text-align: right
}

#fs_customizer_upsell .dashicons-editor-help .fs-feature-desc::after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 21px
}

.rtl #fs_customizer_upsell .dashicons-editor-help .fs-feature-desc::after {
  right: 21px;
  left: auto
}

#fs_customizer_upsell .dashicons-editor-help:hover .fs-feature-desc {
  visibility: visible;
  opacity: 1
}

#fs_customizer_upsell .button-primary {
  display: block;
  text-align: center;
  margin-top: 10px
}

#fs_customizer_support {
  display: block !important
}

#fs_customizer_support .button {
  float: right
}

#fs_customizer_support .button-group {
  width: 100%;
  display: block;
  margin-top: 10px
}

#fs_customizer_support .button-group .button {
  float: none;
  width: 50%;
  text-align: center
}

#customize-theme-controls #accordion-section-freemius_upsell {
  border-top: 1px solid #0085ba !important;
  border-bottom: 1px solid #0085ba !important
}

#customize-theme-controls #accordion-section-freemius_upsell h3.accordion-section-title {
  color: #fff;
  background-color: #0085ba;
  border-left: 4px solid #0085ba;
  transition: .15s background-color ease-in-out, .15s border-color ease-in-out;
  outline: none;
  border-bottom: none !important
}

#customize-theme-controls #accordion-section-freemius_upsell h3.accordion-section-title:hover {
  background-color: #008ec2;
  border-left-color: #0073aa
}

#customize-theme-controls #accordion-section-freemius_upsell h3.accordion-section-title:after {
  color: #fff
}

#customize-theme-controls #accordion-section-freemius_upsell .rtl h3.accordion-section-title {
  border-left: none;
  border-right: 4px solid #0085ba
}

#customize-theme-controls #accordion-section-freemius_upsell .rtl h3.accordion-section-title:hover {
  border-right-color: #0073aa
}

label.fs-tag,
span.fs-tag {
  background: #ffba00;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
  line-height: 11px;
  vertical-align: baseline
}

label.fs-tag.fs-warn,
span.fs-tag.fs-warn {
  background: #ffba00
}

label.fs-tag.fs-info,
span.fs-tag.fs-info {
  background: #00a0d2
}

label.fs-tag.fs-success,
span.fs-tag.fs-success {
  background: #46b450
}

label.fs-tag.fs-error,
span.fs-tag.fs-error {
  background: #dc3232
}

.fs-notice[data-id="license_not_whitelabeled"].success,
.fs-notice[data-id="license_whitelabeled"].success {
  color: inherit;
  border-left-color: #00a0d2
}

.fs-notice[data-id="license_not_whitelabeled"].success label.fs-plugin-title,
.fs-notice[data-id="license_whitelabeled"].success label.fs-plugin-title {
  display: none
}

#fs_account .postbox,
#fs_account .widefat {
  max-width: 800px
}

#fs_account h3 {
  font-size: 1.3em;
  padding: 12px 15px;
  margin: 0 0 12px 0;
  line-height: 1.4;
  border-bottom: 1px solid #F1F1F1
}

#fs_account h3 .dashicons {
  width: 26px;
  height: 26px;
  font-size: 1.3em
}

#fs_account i.dashicons {
  font-size: 1.2em;
  height: 1.2em;
  width: 1.2em
}

#fs_account .dashicons {
  vertical-align: middle
}

#fs_account .fs-header-actions {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 0.9em
}

#fs_account .fs-header-actions ul {
  margin: 0
}

#fs_account .fs-header-actions li {
  float: left
}

#fs_account .fs-header-actions li form {
  display: inline-block
}

#fs_account .fs-header-actions li a {
  text-decoration: none
}

#fs_account_details .button-group {
  float: right
}

.rtl #fs_account .fs-header-actions {
  left: 15px;
  right: auto
}

.fs-key-value-table {
  width: 100%
}

.fs-key-value-table form {
  display: inline-block
}

.fs-key-value-table tr td:first-of-type {
  text-align: right
}

.fs-key-value-table tr td:first-of-type nobr {
  font-weight: bold
}

.fs-key-value-table tr td:first-of-type form {
  display: block
}

.fs-key-value-table tr td.fs-right {
  text-align: right
}

.fs-key-value-table tr.fs-odd {
  background: #ebebeb
}

.fs-key-value-table td,
.fs-key-value-table th {
  padding: 10px
}

.fs-key-value-table code {
  line-height: 28px
}

.fs-key-value-table var,
.fs-key-value-table code,
.fs-key-value-table input[type="text"] {
  color: #0073AA;
  font-size: 16px;
  background: none
}

.fs-key-value-table input[type="text"] {
  width: 100%;
  font-weight: bold
}

.fs-field-beta_program label {
  margin-left: 7px
}

label.fs-tag {
  background: #ffba00;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
  line-height: 11px;
  vertical-align: baseline
}

label.fs-tag.fs-warn {
  background: #ffba00
}

label.fs-tag.fs-success {
  background: #46b450
}

label.fs-tag.fs-error {
  background: #dc3232
}

#fs_sites .fs-scrollable-table .fs-table-body {
  max-height: 200px;
  overflow: auto;
  border: 1px solid #e5e5e5
}

#fs_sites .fs-scrollable-table .fs-table-body>table.widefat {
  border: none !important
}

#fs_sites .fs-scrollable-table .fs-main-column {
  width: 100%
}

#fs_sites .fs-scrollable-table .fs-site-details td:first-of-type {
  text-align: right;
  color: grey;
  width: 1px
}

#fs_sites .fs-scrollable-table .fs-site-details td:last-of-type {
  text-align: right
}

#fs_sites .fs-scrollable-table .fs-install-details table tr td {
  width: 1px;
  white-space: nowrap
}

#fs_sites .fs-scrollable-table .fs-install-details table tr td:last-of-type {
  width: auto
}

#fs_addons h3 {
  border: none;
  margin-bottom: 0;
  padding: 4px 5px
}

#fs_addons td {
  vertical-align: middle
}

#fs_addons thead {
  white-space: nowrap
}

#fs_addons td:first-of-type,
#fs_addons th:first-of-type {
  text-align: left;
  font-weight: bold
}

#fs_addons td:last-child,
#fs_addons th:last-child {
  text-align: right
}

#fs_addons th {
  font-weight: bold
}

#fs_billing_address {
  width: 100%
}

#fs_billing_address tr td {
  width: 50%;
  padding: 5px
}

#fs_billing_address tr:first-of-type td {
  padding-top: 0
}

#fs_billing_address span {
  font-weight: bold
}

#fs_billing_address input,
#fs_billing_address select {
  display: block;
  width: 100%;
  margin-top: 5px
}

#fs_billing_address input::-moz-placeholder,
#fs_billing_address select::-moz-placeholder {
  color: transparent;
  opacity: 1
}

#fs_billing_address input:-ms-input-placeholder,
#fs_billing_address select:-ms-input-placeholder {
  color: transparent
}

#fs_billing_address input::-webkit-input-placeholder,
#fs_billing_address select::-webkit-input-placeholder {
  color: transparent
}

#fs_billing_address input.fs-read-mode,
#fs_billing_address select.fs-read-mode {
  border-color: transparent;
  color: #777;
  border-bottom: 1px dashed #ccc;
  padding-left: 0;
  background: none
}

#fs_billing_address.fs-read-mode td span {
  display: none
}

#fs_billing_address.fs-read-mode input,
#fs_billing_address.fs-read-mode select {
  border-color: transparent;
  color: #777;
  border-bottom: 1px dashed #ccc;
  padding-left: 0;
  background: none
}

#fs_billing_address.fs-read-mode input::-moz-placeholder,
#fs_billing_address.fs-read-mode select::-moz-placeholder {
  color: #ccc;
  opacity: 1
}

#fs_billing_address.fs-read-mode input:-ms-input-placeholder,
#fs_billing_address.fs-read-mode select:-ms-input-placeholder {
  color: #ccc
}

#fs_billing_address.fs-read-mode input::-webkit-input-placeholder,
#fs_billing_address.fs-read-mode select::-webkit-input-placeholder {
  color: #ccc
}

#fs_billing_address button {
  display: block;
  width: 100%
}

.fs-badge {
  position: absolute;
  top: 10px;
  right: 0;
  background: #71ae00;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  font-weight: bold;
  border-right: 0;
  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3)
}

#fs_addons .fs-cards-list {
  list-style: none
}

#fs_addons .fs-cards-list .fs-card {
  float: left;
  height: 152px;
  width: 310px;
  padding: 0;
  margin: 0 0 30px 30px;
  font-size: 14px;
  list-style: none;
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative
}

#fs_addons .fs-cards-list .fs-card .fs-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9
}

#fs_addons .fs-cards-list .fs-card .fs-inner {
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  position: relative
}

#fs_addons .fs-cards-list .fs-card .fs-inner>ul {
  -moz-transition: all, 0.15s;
  -o-transition: all, 0.15s;
  -ms-transition: all, 0.15s;
  -webkit-transition: all, 0.15s;
  transition: all, 0.15s;
  left: 0;
  right: 0;
  top: 0;
  position: absolute
}

#fs_addons .fs-cards-list .fs-card .fs-inner>ul>li {
  list-style: none;
  line-height: 18px;
  padding: 0 15px;
  width: 100%;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-card-banner {
  padding: 0;
  margin: 0;
  line-height: 0;
  display: block;
  height: 100px;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  -moz-transition: all, 0.15s;
  -o-transition: all, 0.15s;
  -ms-transition: all, 0.15s;
  -webkit-transition: all, 0.15s;
  transition: all, 0.15s
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-card-banner .fs-badge.fs-installed-addon-badge {
  font-size: 1.02em;
  line-height: 1.3em
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-title {
  margin: 10px 0 0 0;
  height: 18px;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-offer {
  font-size: 0.9em
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-description {
  background-color: #f9f9f9;
  padding: 10px 15px 100px 15px;
  border-top: 1px solid #eee;
  margin: 0 0 10px 0;
  color: #777
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-tag {
  position: absolute;
  top: 10px;
  right: 0px;
  background: greenyellow;
  display: block;
  padding: 2px 10px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-cta .button,
#fs_addons .fs-cards-list .fs-card .fs-inner .fs-cta .button-group {
  position: absolute;
  top: 112px;
  right: 10px
}

@media screen and (min-width: 960px) {
  #fs_addons .fs-cards-list .fs-card:hover .fs-overlay {
    border: 2px solid #29abe1;
    margin-left: -1px;
    margin-top: -1px
  }

  #fs_addons .fs-cards-list .fs-card:hover .fs-inner ul {
    top: -100px
  }

  #fs_addons .fs-cards-list .fs-card:hover .fs-inner .fs-title,
  #fs_addons .fs-cards-list .fs-card:hover .fs-inner .fs-offer {
    color: #29abe1
  }
}

#TB_window,
#TB_window iframe {
  width: 821px !important
}

#plugin-information .fyi {
  width: 266px !important
}

#plugin-information #section-holder {
  margin-right: 299px
}

#plugin-information #section-description h2,
#plugin-information #section-description h3,
#plugin-information #section-description p,
#plugin-information #section-description b,
#plugin-information #section-description i,
#plugin-information #section-description blockquote,
#plugin-information #section-description li,
#plugin-information #section-description ul,
#plugin-information #section-description ol {
  clear: none
}

#plugin-information #section-description iframe {
  max-width: 100%
}

#plugin-information #section-description .fs-selling-points {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd
}

#plugin-information #section-description .fs-selling-points ul {
  margin: 0
}

#plugin-information #section-description .fs-selling-points ul li {
  padding: 0;
  list-style: none outside none
}

#plugin-information #section-description .fs-selling-points ul li i.dashicons {
  color: #71ae00;
  font-size: 3em;
  vertical-align: middle;
  line-height: 30px;
  float: left;
  margin: 0 0 0 -15px
}

#plugin-information #section-description .fs-selling-points ul li h3 {
  margin: 1em 30px !important
}

#plugin-information #section-description .fs-screenshots:after {
  content: "";
  display: table;
  clear: both
}

#plugin-information #section-description .fs-screenshots ul {
  list-style: none;
  margin: 0
}

#plugin-information #section-description .fs-screenshots ul li {
  width: 225px;
  height: 225px;
  float: left;
  margin-bottom: 20px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

#plugin-information #section-description .fs-screenshots ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-size: cover
}

#plugin-information #section-description .fs-screenshots ul li.odd {
  margin-right: 20px
}

#plugin-information .plugin-information-pricing {
  margin: -16px;
  border-bottom: 1px solid #ddd
}

#plugin-information .plugin-information-pricing .fs-plan h3 {
  margin-top: 0;
  padding: 20px;
  font-size: 16px
}

#plugin-information .plugin-information-pricing .fs-plan .nav-tab-wrapper {
  border-bottom: 1px solid #ddd
}

#plugin-information .plugin-information-pricing .fs-plan .nav-tab-wrapper .nav-tab {
  cursor: pointer;
  position: relative;
  padding: 0 10px;
  font-size: 0.9em
}

#plugin-information .plugin-information-pricing .fs-plan .nav-tab-wrapper .nav-tab label {
  text-transform: uppercase;
  color: green;
  background: greenyellow;
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: 100%;
  border: 1px solid darkgreen;
  padding: 2px;
  text-align: center;
  font-size: 0.9em;
  line-height: 1em
}

#plugin-information .plugin-information-pricing .fs-plan .nav-tab-wrapper .nav-tab.nav-tab-active {
  cursor: default;
  background: #fffeec;
  border-bottom-color: #fffeec
}

#plugin-information .plugin-information-pricing .fs-plan.fs-single-cycle h3 {
  background: #fffeec;
  margin: 0;
  padding-bottom: 0;
  color: #0073aa
}

#plugin-information .plugin-information-pricing .fs-plan.fs-single-cycle .nav-tab-wrapper,
#plugin-information .plugin-information-pricing .fs-plan.fs-single-cycle .fs-billing-frequency {
  display: none
}

#plugin-information .plugin-information-pricing .fs-plan .fs-pricing-body {
  background: #fffeec;
  padding: 20px
}

#plugin-information .plugin-information-pricing .fs-plan .button {
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em
}

#plugin-information .plugin-information-pricing .fs-plan label {
  white-space: nowrap
}

#plugin-information .plugin-information-pricing .fs-plan var {
  font-style: normal
}

#plugin-information .plugin-information-pricing .fs-plan .fs-billing-frequency,
#plugin-information .plugin-information-pricing .fs-plan .fs-annual-discount {
  text-align: center;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: #F3F3F3;
  padding: 2px;
  border: 1px solid #ccc
}

#plugin-information .plugin-information-pricing .fs-plan .fs-annual-discount {
  text-transform: none;
  color: green;
  background: greenyellow
}

#plugin-information .plugin-information-pricing .fs-plan ul.fs-trial-terms {
  font-size: 0.9em
}

#plugin-information .plugin-information-pricing .fs-plan ul.fs-trial-terms i {
  float: left;
  margin: 0 0 0 -15px
}

#plugin-information .plugin-information-pricing .fs-plan ul.fs-trial-terms li {
  margin: 10px 0 0 0
}

#plugin-information #section-features .fs-features {
  margin: -20px -26px
}

#plugin-information #section-features table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate
}

#plugin-information #section-features table thead th {
  padding: 10px 0
}

#plugin-information #section-features table thead .fs-price {
  color: #71ae00;
  font-weight: normal;
  display: block;
  text-align: center
}

#plugin-information #section-features table tbody td {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
  width: 100px;
  color: #71ae00
}

#plugin-information #section-features table tbody td:first-of-type {
  text-align: left;
  width: auto;
  color: inherit;
  padding-left: 26px
}

#plugin-information #section-features table tbody tr.fs-odd td {
  background: #fefefe
}

#plugin-information #section-features .dashicons-yes {
  width: 30px;
  height: 30px;
  font-size: 30px
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .button-group .button,
#plugin-information .fs-dropdown .button-group .button {
  position: relative;
  width: auto;
  top: 0;
  right: 0
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .button-group .button:focus,
#plugin-information .fs-dropdown .button-group .button:focus {
  z-index: 10
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .button-group .fs-dropdown-arrow,
#plugin-information .fs-dropdown .button-group .fs-dropdown-arrow {
  border-top: 6px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  top: 12px;
  position: relative
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown.active:not(.up) .button:not(.fs-dropdown-arrow-button),
#plugin-information .fs-dropdown.active:not(.up) .button:not(.fs-dropdown-arrow-button) {
  border-bottom-left-radius: 0
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown.active:not(.up) .fs-dropdown-arrow-button,
#plugin-information .fs-dropdown.active:not(.up) .fs-dropdown-arrow-button {
  border-bottom-right-radius: 0
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown.active.up .button:not(.fs-dropdown-arrow-button),
#plugin-information .fs-dropdown.active.up .button:not(.fs-dropdown-arrow-button) {
  border-top-left-radius: 0
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown.active.up .fs-dropdown-arrow-button,
#plugin-information .fs-dropdown.active.up .fs-dropdown-arrow-button {
  border-top-right-radius: 0
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .fs-dropdown-list,
#plugin-information .fs-dropdown .fs-dropdown-list {
  position: absolute;
  right: -1px;
  top: 100%;
  margin-left: auto;
  padding: 3px 0;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  z-index: 1;
  width: 230px;
  text-align: left;
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .fs-dropdown-list li,
#plugin-information .fs-dropdown .fs-dropdown-list li {
  margin: 0
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .fs-dropdown-list li a,
#plugin-information .fs-dropdown .fs-dropdown-list li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: none
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .fs-dropdown-list li:hover,
#plugin-information .fs-dropdown .fs-dropdown-list li:hover {
  background-color: #0074a3;
  color: #fff
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown .fs-dropdown-list li:hover a,
#plugin-information .fs-dropdown .fs-dropdown-list li:hover a {
  color: #fff
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown:not(.up) .fs-dropdown-list,
#plugin-information .fs-dropdown:not(.up) .fs-dropdown-list {
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px
}

#fs_addons .fs-cards-list .fs-card .fs-inner .fs-dropdown.up .fs-dropdown-list,
#plugin-information .fs-dropdown.up .fs-dropdown-list {
  -moz-border-radius: 3px 3px 0 3px;
  -webkit-border-radius: 3px 3px 0 3px;
  border-radius: 3px 3px 0 3px
}

#plugin-information .fs-dropdown .button-group {
  width: 100%
}

#plugin-information .fs-dropdown .button-group .button {
  float: none;
  font-size: 14px;
  font-weight: normal;
  text-transform: none
}

#plugin-information .fs-dropdown .fs-dropdown-list {
  margin-top: 1px
}

#plugin-information .fs-dropdown.up .fs-dropdown-list {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px
}

#plugin-information.wp-core-ui .fs-pricing-body .fs-dropdown .button-group {
  text-align: center;
  display: table
}

#plugin-information.wp-core-ui .fs-pricing-body .fs-dropdown .button-group .button {
  display: table-cell
}

#plugin-information.wp-core-ui .fs-pricing-body .fs-dropdown .button-group .button:not(.fs-dropdown-arrow-button) {
  left: 1px;
  width: 100%
}

#plugin-information-footer>.button,
#plugin-information-footer .fs-dropdown {
  position: relative;
  top: 3px
}

#plugin-information-footer>.button.left,
#plugin-information-footer .fs-dropdown.left {
  float: left
}

#plugin-information-footer>.right,
#plugin-information-footer .fs-dropdown {
  float: right
}

@media screen and (max-width: 961px) {
  #fs_addons .fs-cards-list .fs-card {
    height: 265px
  }
}

#fs_affiliation_content_wrapper #messages {
  margin-top: 25px
}

#fs_affiliation_content_wrapper h3 {
  font-size: 24px;
  padding: 0;
  margin-left: 0
}

#fs_affiliation_content_wrapper ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none
}

#fs_affiliation_content_wrapper ul li:before {
  content: '✓';
  margin-right: 10px;
  font-weight: bold
}

#fs_affiliation_content_wrapper p:not(.description),
#fs_affiliation_content_wrapper li,
#fs_affiliation_content_wrapper label {
  font-size: 16px !important;
  line-height: 26px !important
}

#fs_affiliation_content_wrapper .button {
  margin-top: 20px;
  margin-bottom: 7px;
  line-height: 35px;
  height: 40px;
  font-size: 16px
}

#fs_affiliation_content_wrapper .button#cancel_button {
  margin-right: 5px
}

#fs_affiliation_content_wrapper form .input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form .input-container .input-label {
  font-weight: bold;
  display: block;
  width: 100%
}

#fs_affiliation_content_wrapper form .input-container.input-container-text label,
#fs_affiliation_content_wrapper form .input-container.input-container-text input,
#fs_affiliation_content_wrapper form .input-container.input-container-text textarea {
  display: block
}

#fs_affiliation_content_wrapper form .input-container #add_domain,
#fs_affiliation_content_wrapper form .input-container .remove-domain {
  text-decoration: none;
  display: inline-block;
  margin-top: 3px
}

#fs_affiliation_content_wrapper form .input-container #add_domain:focus,
#fs_affiliation_content_wrapper form .input-container .remove-domain:focus {
  box-shadow: none
}

#fs_affiliation_content_wrapper form .input-container #add_domain.disabled,
#fs_affiliation_content_wrapper form .input-container .remove-domain.disabled {
  color: #aaa;
  cursor: default
}

#fs_affiliation_content_wrapper form #extra_domains_container .description {
  margin-top: 0;
  position: relative;
  top: -4px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain {
  display: inline-block;
  margin-right: 5px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain:last-of-type {
  margin-bottom: 0
}

#fs_affiliation_content_wrapper #messages {
  margin-top: 25px
}

#fs_affiliation_content_wrapper h3 {
  font-size: 24px;
  padding: 0;
  margin-left: 0
}

#fs_affiliation_content_wrapper ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none
}

#fs_affiliation_content_wrapper ul li:before {
  content: '✓';
  margin-right: 10px;
  font-weight: bold
}

#fs_affiliation_content_wrapper p:not(.description),
#fs_affiliation_content_wrapper li,
#fs_affiliation_content_wrapper label {
  font-size: 16px !important;
  line-height: 26px !important
}

#fs_affiliation_content_wrapper .button {
  margin-top: 20px;
  margin-bottom: 7px;
  line-height: 35px;
  height: 40px;
  font-size: 16px
}

#fs_affiliation_content_wrapper .button#cancel_button {
  margin-right: 5px
}

#fs_affiliation_content_wrapper form .input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form .input-container .input-label {
  font-weight: bold;
  display: block;
  width: 100%
}

#fs_affiliation_content_wrapper form .input-container.input-container-text label,
#fs_affiliation_content_wrapper form .input-container.input-container-text input,
#fs_affiliation_content_wrapper form .input-container.input-container-text textarea {
  display: block
}

#fs_affiliation_content_wrapper form .input-container #add_domain,
#fs_affiliation_content_wrapper form .input-container .remove-domain {
  text-decoration: none;
  display: inline-block;
  margin-top: 3px
}

#fs_affiliation_content_wrapper form .input-container #add_domain:focus,
#fs_affiliation_content_wrapper form .input-container .remove-domain:focus {
  box-shadow: none
}

#fs_affiliation_content_wrapper form .input-container #add_domain.disabled,
#fs_affiliation_content_wrapper form .input-container .remove-domain.disabled {
  color: #aaa;
  cursor: default
}

#fs_affiliation_content_wrapper form #extra_domains_container .description {
  margin-top: 0;
  position: relative;
  top: -4px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain {
  display: inline-block;
  margin-right: 5px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain:last-of-type {
  margin-bottom: 0
}

#fs_affiliation_content_wrapper #messages {
  margin-top: 25px
}

#fs_affiliation_content_wrapper h3 {
  font-size: 24px;
  padding: 0;
  margin-left: 0
}

#fs_affiliation_content_wrapper ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none
}

#fs_affiliation_content_wrapper ul li:before {
  content: '✓';
  margin-right: 10px;
  font-weight: bold
}

#fs_affiliation_content_wrapper p:not(.description),
#fs_affiliation_content_wrapper li,
#fs_affiliation_content_wrapper label {
  font-size: 16px !important;
  line-height: 26px !important
}

#fs_affiliation_content_wrapper .button {
  margin-top: 20px;
  margin-bottom: 7px;
  line-height: 35px;
  height: 40px;
  font-size: 16px
}

#fs_affiliation_content_wrapper .button#cancel_button {
  margin-right: 5px
}

#fs_affiliation_content_wrapper form .input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form .input-container .input-label {
  font-weight: bold;
  display: block;
  width: 100%
}

#fs_affiliation_content_wrapper form .input-container.input-container-text label,
#fs_affiliation_content_wrapper form .input-container.input-container-text input,
#fs_affiliation_content_wrapper form .input-container.input-container-text textarea {
  display: block
}

#fs_affiliation_content_wrapper form .input-container #add_domain,
#fs_affiliation_content_wrapper form .input-container .remove-domain {
  text-decoration: none;
  display: inline-block;
  margin-top: 3px
}

#fs_affiliation_content_wrapper form .input-container #add_domain:focus,
#fs_affiliation_content_wrapper form .input-container .remove-domain:focus {
  box-shadow: none
}

#fs_affiliation_content_wrapper form .input-container #add_domain.disabled,
#fs_affiliation_content_wrapper form .input-container .remove-domain.disabled {
  color: #aaa;
  cursor: default
}

#fs_affiliation_content_wrapper form #extra_domains_container .description {
  margin-top: 0;
  position: relative;
  top: -4px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain {
  display: inline-block;
  margin-right: 5px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain:last-of-type {
  margin-bottom: 0
}

#fs_affiliation_content_wrapper #messages {
  margin-top: 25px
}

#fs_affiliation_content_wrapper h3 {
  font-size: 24px;
  padding: 0;
  margin-left: 0
}

#fs_affiliation_content_wrapper ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none
}

#fs_affiliation_content_wrapper ul li:before {
  content: '✓';
  margin-right: 10px;
  font-weight: bold
}

#fs_affiliation_content_wrapper p:not(.description),
#fs_affiliation_content_wrapper li,
#fs_affiliation_content_wrapper label {
  font-size: 16px !important;
  line-height: 26px !important
}

#fs_affiliation_content_wrapper .button {
  margin-top: 20px;
  margin-bottom: 7px;
  line-height: 35px;
  height: 40px;
  font-size: 16px
}

#fs_affiliation_content_wrapper .button#cancel_button {
  margin-right: 5px
}

#fs_affiliation_content_wrapper form .input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form .input-container .input-label {
  font-weight: bold;
  display: block;
  width: 100%
}

#fs_affiliation_content_wrapper form .input-container.input-container-text label,
#fs_affiliation_content_wrapper form .input-container.input-container-text input,
#fs_affiliation_content_wrapper form .input-container.input-container-text textarea {
  display: block
}

#fs_affiliation_content_wrapper form .input-container #add_domain,
#fs_affiliation_content_wrapper form .input-container .remove-domain {
  text-decoration: none;
  display: inline-block;
  margin-top: 3px
}

#fs_affiliation_content_wrapper form .input-container #add_domain:focus,
#fs_affiliation_content_wrapper form .input-container .remove-domain:focus {
  box-shadow: none
}

#fs_affiliation_content_wrapper form .input-container #add_domain.disabled,
#fs_affiliation_content_wrapper form .input-container .remove-domain.disabled {
  color: #aaa;
  cursor: default
}

#fs_affiliation_content_wrapper form #extra_domains_container .description {
  margin-top: 0;
  position: relative;
  top: -4px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container {
  margin-bottom: 15px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain {
  display: inline-block;
  margin-right: 5px
}

#fs_affiliation_content_wrapper form #extra_domains_container .extra-domain-input-container .domain:last-of-type {
  margin-bottom: 0
}
.fs-switch-label {
  font-size: 20px;
  line-height: 31px;
  margin: 0 5px
}

#fs_log_book table {
  font-family: Consolas, Monaco, monospace;
  font-size: 12px
}

#fs_log_book table th {
  color: #ccc
}

#fs_log_book table tr {
  background: #232525
}

#fs_log_book table tr.alternate {
  background: #2b2b2b
}

#fs_log_book table tr td.fs-col--logger {
  color: #5a7435
}

#fs_log_book table tr td.fs-col--type {
  color: #ffc861
}

#fs_log_book table tr td.fs-col--function {
  color: #a7b7b1;
  font-weight: bold
}

#fs_log_book table tr td.fs-col--message,
#fs_log_book table tr td.fs-col--message a {
  color: #9a73ac !important
}

#fs_log_book table tr td.fs-col--file {
  color: #d07922
}

#fs_log_book table tr td.fs-col--timestamp {
  color: #6596be
}
.fs-modal {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100000;
  display: none;
  background: rgba(0, 0, 0, 0.6)
}

.fs-modal .dashicons {
  vertical-align: middle
}

.fs-modal .fs-modal-dialog {
  background: transparent;
  position: absolute;
  left: 50%;
  margin-left: -298px;
  padding-bottom: 30px;
  top: -100%;
  z-index: 100001;
  width: 596px
}

@media (max-width: 650px) {
  .fs-modal .fs-modal-dialog {
    margin-left: -50%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%
  }

  .fs-modal .fs-modal-dialog .fs-modal-panel>h3>strong {
    font-size: 1.3em
  }
}

.fs-modal.active {
  display: block
}

.fs-modal.active:before {
  display: block
}

.fs-modal.active .fs-modal-dialog {
  top: 10%
}

.fs-modal.fs-success .fs-modal-header {
  border-bottom-color: #46b450
}

.fs-modal.fs-success .fs-modal-body {
  background-color: #f7fff7
}

.fs-modal.fs-warn .fs-modal-header {
  border-bottom-color: #ffb900
}

.fs-modal.fs-warn .fs-modal-body {
  background-color: #fff8e5
}

.fs-modal.fs-error .fs-modal-header {
  border-bottom-color: #dc3232
}

.fs-modal.fs-error .fs-modal-body {
  background-color: #ffeaea
}

.fs-modal .fs-modal-body,
.fs-modal .fs-modal-footer {
  border: 0;
  background: #fefefe;
  padding: 20px
}

.fs-modal .fs-modal-header {
  border-bottom: #eeeeee solid 1px;
  background: #fbfbfb;
  padding: 15px 20px;
  position: relative;
  margin-bottom: -10px
}

.fs-modal .fs-modal-header h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  color: #cacaca;
  text-shadow: 1px 1px 1px #fff;
  letter-spacing: 0.6px;
  -webkit-font-smoothing: antialiased
}

.fs-modal .fs-modal-header .fs-close {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: #bbb;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}

.fs-modal .fs-modal-header .fs-close:hover {
  color: #fff;
  background: #aaa
}

.fs-modal .fs-modal-header .fs-close .dashicons,
.fs-modal .fs-modal-header .fs-close:hover .dashicons {
  text-decoration: none
}

.fs-modal .fs-modal-body {
  border-bottom: 0
}

.fs-modal .fs-modal-body p {
  font-size: 14px
}

.fs-modal .fs-modal-body h2 {
  font-size: 20px;
  line-height: 1.5em
}

.fs-modal .fs-modal-body>div {
  margin-top: 10px
}

.fs-modal .fs-modal-body>div h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0
}

.fs-modal .fs-modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right
}

.fs-modal .fs-modal-footer>.button {
  margin: 0 7px
}

.fs-modal .fs-modal-footer>.button:first-of-type {
  margin: 0
}

.fs-modal .fs-modal-panel>.notice.inline {
  margin: 0;
  display: none
}

.fs-modal .fs-modal-panel:not(.active) {
  display: none
}

.rtl .fs-modal .fs-modal-header .fs-close {
  right: auto;
  left: 20px
}

body.has-fs-modal {
  overflow: hidden
}

.fs-modal.fs-modal-deactivation-feedback .reason-input,
.fs-modal.fs-modal-deactivation-feedback .internal-message {
  margin: 3px 0 3px 22px
}

.fs-modal.fs-modal-deactivation-feedback .reason-input input,
.fs-modal.fs-modal-deactivation-feedback .reason-input textarea,
.fs-modal.fs-modal-deactivation-feedback .internal-message input,
.fs-modal.fs-modal-deactivation-feedback .internal-message textarea {
  width: 100%
}

.fs-modal.fs-modal-deactivation-feedback li.reason.has-internal-message .internal-message {
  border: 1px solid #ccc;
  padding: 7px;
  display: none
}

@media (max-width: 650px) {
  .fs-modal.fs-modal-deactivation-feedback li.reason li.reason {
    margin-bottom: 10px
  }

  .fs-modal.fs-modal-deactivation-feedback li.reason li.reason .reason-input,
  .fs-modal.fs-modal-deactivation-feedback li.reason li.reason .internal-message {
    margin-left: 29px
  }

  .fs-modal.fs-modal-deactivation-feedback li.reason li.reason label {
    display: table
  }

  .fs-modal.fs-modal-deactivation-feedback li.reason li.reason label>span {
    display: table-cell;
    font-size: 1.3em
  }
}

.fs-modal.fs-modal-deactivation-feedback .anonymous-feedback-label {
  float: left
}

.fs-modal.fs-modal-deactivation-feedback .fs-modal-panel {
  margin-top: 0 !important
}

.fs-modal.fs-modal-deactivation-feedback .fs-modal-panel h3 {
  margin-top: 0;
  line-height: 1.5em
}

#the-list .deactivate>.fs-slug {
  display: none
}

.fs-modal.fs-modal-subscription-cancellation .fs-price-increase-warning {
  color: red;
  font-weight: bold;
  padding: 0 25px;
  margin-bottom: 0
}

.fs-modal.fs-modal-subscription-cancellation ul.subscription-actions label input {
  float: left;
  top: 5px;
  position: relative
}

.rtl .fs-modal.fs-modal-subscription-cancellation ul.subscription-actions label input {
  float: right
}

.fs-modal.fs-modal-subscription-cancellation ul.subscription-actions label span {
  display: block;
  margin-left: 24px
}

.rtl .fs-modal.fs-modal-subscription-cancellation ul.subscription-actions label span {
  margin-left: 0;
  margin-right: 24px
}

.fs-modal.fs-modal-license-activation .fs-modal-body input.fs-license-key {
  width: 100%
}

.fs-license-options-container table,
.fs-license-options-container table select,
.fs-license-options-container table .fs-available-license-key {
  width: 100%
}

.fs-license-options-container table td:first-of-type {
  width: 1%
}

.fs-license-options-container table .fs-other-license-key-container label {
  position: relative;
  top: 6px;
  float: left;
  margin-right: 5px
}

.fs-license-options-container table .fs-other-license-key-container div {
  overflow: hidden;
  width: auto;
  height: 30px;
  display: block;
  top: 2px;
  position: relative
}

.fs-license-options-container table .fs-other-license-key-container div input {
  margin: 0
}

.fs-sites-list-container td {
  cursor: pointer
}

.fs-modal.fs-modal-user-change .fs-modal-body input#fs_other_email_address {
  width: 100%
}

.fs-user-change-options-container table {
  width: 100%;
  border-collapse: collapse
}

.fs-user-change-options-container table tr {
  display: block;
  margin-bottom: 2px
}

.fs-user-change-options-container table .fs-email-address-container td {
  display: inline-block
}

.fs-user-change-options-container table .fs-email-address-container input[type="radio"] {
  margin-bottom: 0;
  margin-top: 0
}

.fs-user-change-options-container table .fs-other-email-address-container {
  width: 100%
}

.fs-user-change-options-container table .fs-other-email-address-container>div {
  display: table;
  width: 100%
}

.fs-user-change-options-container table .fs-other-email-address-container>div label,
.fs-user-change-options-container table .fs-other-email-address-container>div>div {
  display: table-cell
}

.fs-user-change-options-container table .fs-other-email-address-container>div label {
  width: 1%;
  padding-left: 3px;
  padding-right: 3px
}

.fs-user-change-options-container table .fs-other-email-address-container>div>div {
  width: auto
}

.fs-user-change-options-container table .fs-other-email-address-container>div>div input {
  width: 100%
}

.fs-modal.fs-modal-developer-license-debug-mode .fs-modal-body input.fs-license-or-user-key {
  width: 100%
}

.fs-multisite-options-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 5px
}

.fs-multisite-options-container a {
  text-decoration: none
}

.fs-multisite-options-container a:focus {
  box-shadow: none
}

.fs-multisite-options-container a.selected {
  font-weight: bold
}

.fs-multisite-options-container.fs-apply-on-all-sites {
  border: 0 none;
  padding: 0
}

.fs-multisite-options-container.fs-apply-on-all-sites .fs-all-sites-options {
  border-spacing: 0
}

.fs-multisite-options-container.fs-apply-on-all-sites .fs-all-sites-options td:not(:first-of-type) {
  display: none
}

.fs-multisite-options-container .fs-sites-list-container {
  display: none;
  overflow: auto
}

.fs-multisite-options-container .fs-sites-list-container table td {
  border-top: 1px solid #ccc;
  padding: 4px 2px
}

.fs-modal.fs-modal-license-key-resend .email-address-container {
  overflow: hidden;
  padding-right: 2px
}

.fs-modal.fs-modal-license-key-resend.fs-freemium input.email-address {
  width: 300px
}

.fs-modal.fs-modal-license-key-resend.fs-freemium label {
  display: block;
  margin-bottom: 10px
}

.fs-modal.fs-modal-license-key-resend.fs-premium input.email-address {
  width: 100%
}

.fs-modal.fs-modal-license-key-resend.fs-premium .button-container {
  float: right;
  margin-left: 7px
}

@media (max-width: 650px) {
  .fs-modal.fs-modal-license-key-resend.fs-premium .button-container {
    margin-top: 2px
  }
}

.rtl .fs-modal.fs-modal-license-key-resend .fs-modal-body .input-container>.email-address-container {
  padding-left: 2px;
  padding-right: 0
}

.rtl .fs-modal.fs-modal-license-key-resend .fs-modal-body .button-container {
  float: left;
  margin-right: 7px;
  margin-left: 0
}

a.show-license-resend-modal {
  margin-top: 4px;
  display: inline-block
}

.fs-ajax-loader {
  position: relative;
  width: 170px;
  height: 20px;
  margin: auto
}

.fs-ajax-loader .fs-ajax-loader-bar {
  position: absolute;
  top: 0;
  background-color: #0074a3;
  width: 20px;
  height: 20px;
  -webkit-animation-name: bounce_ajaxLoader;
  -moz-animation-name: bounce_ajaxLoader;
  -ms-animation-name: bounce_ajaxLoader;
  -o-animation-name: bounce_ajaxLoader;
  animation-name: bounce_ajaxLoader;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  -moz-transform: 0.3;
  -o-transform: 0.3;
  -ms-transform: 0.3;
  -webkit-transform: 0.3;
  transform: 0.3
}

.fs-ajax-loader .fs-ajax-loader-bar-1 {
  left: 0px;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s
}

.fs-ajax-loader .fs-ajax-loader-bar-2 {
  left: 19px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s
}

.fs-ajax-loader .fs-ajax-loader-bar-3 {
  left: 38px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s
}

.fs-ajax-loader .fs-ajax-loader-bar-4 {
  left: 57px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s
}

.fs-ajax-loader .fs-ajax-loader-bar-5 {
  left: 76px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s
}

.fs-ajax-loader .fs-ajax-loader-bar-6 {
  left: 95px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s
}

.fs-ajax-loader .fs-ajax-loader-bar-7 {
  left: 114px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s
}

.fs-ajax-loader .fs-ajax-loader-bar-8 {
  left: 133px;
  animation-delay: 1.65s;
  -o-animation-delay: 1.65s;
  -ms-animation-delay: 1.65s;
  -webkit-animation-delay: 1.65s;
  -moz-animation-delay: 1.65s
}

@-moz-keyframes bounce_ajaxLoader {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #0074a3
  }

  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: #fff
  }
}

@-ms-keyframes bounce_ajaxLoader {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #0074a3
  }

  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: #fff
  }
}

@-o-keyframes bounce_ajaxLoader {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #0074a3
  }

  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: #fff
  }
}

@-webkit-keyframes bounce_ajaxLoader {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #0074a3
  }

  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: #fff
  }
}

@keyframes bounce_ajaxLoader {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #0074a3
  }

  100% {
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: #fff
  }
}

.fs-modal-auto-install #request-filesystem-credentials-form h2,
.fs-modal-auto-install #request-filesystem-credentials-form .request-filesystem-credentials-action-buttons {
  display: none
}

.fs-modal-auto-install #request-filesystem-credentials-form input[type=password],
.fs-modal-auto-install #request-filesystem-credentials-form input[type=email],
.fs-modal-auto-install #request-filesystem-credentials-form input[type=text] {
  -webkit-appearance: none;
  padding: 10px 10px 5px 10px;
  width: 300px;
  max-width: 100%
}

.fs-modal-auto-install #request-filesystem-credentials-form>div,
.fs-modal-auto-install #request-filesystem-credentials-form label,
.fs-modal-auto-install #request-filesystem-credentials-form fieldset {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  display: block
}

.button-primary.warn {
  box-shadow: 0 1px 0 #d2593c;
  text-shadow: 0 -1px 1px #d2593c, 1px 0 1px #d2593c, 0 1px 1px #d2593c, -1px 0 1px #d2593c;
  background: #f56a48;
  border-color: #ec6544 #d2593c #d2593c
}

.button-primary.warn:hover {
  background: #fd6d4a;
  border-color: #d2593c
}

.button-primary.warn:focus {
  box-shadow: 0 1px 0 #dd6041, 0 0 2px 1px #e4a796
}

.button-primary.warn:active {
  background: #dd6041;
  border-color: #d2593c;
  box-shadow: inset 0 2px 0 #d2593c
}

.button-primary.warn.disabled {
  color: #f5b3a1 !important;
  background: #e76444 !important;
  border-color: #d85e40 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important
}
.fs-notice[data-id^="gdpr_optin_actions"] .underlined {
  text-decoration: underline
}

.fs-notice[data-id^="gdpr_optin_actions"] ul .button,
.fs-notice[data-id^="gdpr_optin_actions"] ul .action-description {
  vertical-align: middle
}

.fs-notice[data-id^="gdpr_optin_actions"] ul .action-description {
  display: inline-block;
  margin-left: 3px
}
label.fs-tag,
span.fs-tag {
  background: #ffba00;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
  line-height: 11px;
  vertical-align: baseline
}

label.fs-tag.fs-warn,
span.fs-tag.fs-warn {
  background: #ffba00
}

label.fs-tag.fs-info,
span.fs-tag.fs-info {
  background: #00a0d2
}

label.fs-tag.fs-success,
span.fs-tag.fs-success {
  background: #46b450
}

label.fs-tag.fs-error,
span.fs-tag.fs-error {
  background: #dc3232
}

.wp-list-table.plugins .plugin-title span.fs-tag {
  display: inline-block;
  margin-left: 5px;
  line-height: 10px
}
